.time-input-form {
  font-size: 16px;
  display: flex;
  .mat-form-field,
  .mat-button {
      flex: 1;
  }
  ::ng-deep {
      .mat-form-field-infix {
          width: auto;
          input {
              text-align: right;
              padding-right: 4px;
          }
      }
  }
}
