<div>
  <ng-container *ngIf="hours">
    <span class="act-hide time-display-digit"
          tabindex="0">{{time | timeFormat : 'hours'}}</span>
    <span class="act-hide time-display-sep">h</span>
  </ng-container>
  <ng-container *ngIf="minutes">
    <span class="act-hide time-display-digit"
          tabindex="0">{{time | timeFormat : 'minutes'}} </span>
    <span class="time-display-sep">m</span>
  </ng-container>
  <span class="time-display-digit"
        tabindex="0">{{time | timeFormat : 'seconds'}}</span>
  <span class="time-display-sep">s</span>
  <ng-container *ngIf="showHundriths">
    <span class="time-display-digit time-display-small-digit"
          tabindex="0">{{time | timeFormat : 'hundriths'}}</span>
  </ng-container>
</div>
